
#items ,#cart{
    top:50px;
    z-index: 1;
    position: relative;
    padding: 0 32.5px;
    color:black;
}
.add-to-cart{
    position:fixed;
    bottom:50px;
    right:30px;
    width:100px;
    z-index: 2;
    img{
        width:100px;
    }
    button{
        width:110px;
    }
}
.product-box, .product-story {
    display:flex;
    padding:30px 10px 30px 20px;
     .not-selected{
        border: 10px solid lightblue;
        width:170px;
        height:220px;
    }
    .selected{
        transition:.4s;
        border:10px solid blue;
    }

    .product-inf, .product-story{
       margin-left: 15px;
       line-height:2;
       position: relative;
       .ratings {
        position: relative;
        display: inline-block;
        color: lightgray;
        overflow: hidden;
       }
       .full-stars {
        position: absolute;
        left: 0;
        top: 0;
        white-space: nowrap;
        overflow: hidden;
        color: gold;
        width:40%;
       }
       .empty-stars:before, .full-stars:before {
        content:"\2605\2605\2605\2605\2605";
        font-size: 30px;
        }
        
    
    }
    .cart-quantity{
        display:flex;
    }
   
    .show-type{
        // justify-content: center;
        .not-choose{
            border:2px solid green;
            border-radius: 35%;
            display:inline-block;
            padding:3px;
            margin-top:10px;
        }
    }
        .ischoose {
            background-color :orange;
        
        }
    
}
.product-story{
    white-space: wrap;
    // font-size: 20px;
    line-height: 2;
}
.btn-showmore{
    width:100%;
        
}

.highLight{
    background: orange;
    color:white;
}
